
# Created by https://www.gitignore.io/api/emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# End of https://www.gitignore.io/api/emacs

bookmarks
custom.el
private.org
private.el
emacs24.*.el
init.el
org-clock-save.el
keyfreq
recentf
straight/
transient/
url/
offlineimap-sync.py
network-security.data
gnus/
.mc-lists.el

# Snippets (override for specific snippets)
snippets/antlr-mode/
snippets/apples-mode/
snippets/applescript-mode/
snippets/c++-mode/
snippets/c-lang-common/
snippets/c-mode/
snippets/cc-mode/
snippets/chef-mode/
snippets/cider-repl-mode/
snippets/clojure-mode/
snippets/cmake-mode/
snippets/conf-unix-mode/
snippets/cperl-mode/
snippets/cpp-omnet-mode/
snippets/csharp-mode/
snippets/css-mode/
snippets/dix-mode/
snippets/elixir-mode/
snippets/emacs-lisp-mode/
snippets/enh-ruby-mode/
snippets/ensime-mode/
snippets/erc-mode/
snippets/erlang-mode/
snippets/f90-mode/
snippets/faust-mode/
snippets/git-commit-mode/
snippets/go-mode/
snippets/groovy-mode/
snippets/haskell-mode/
snippets/html-mode/
snippets/java-mode/
snippets/js-mode/
snippets/js2-mode/
snippets/js3-mode/
snippets/latex-mode/
snippets/lisp-interaction-mode/
snippets/lisp-mode/
snippets/lua-mode/
snippets/m4-mode/
snippets/makefile-automake-mode/
snippets/makefile-bsdmake-mode/
snippets/makefile-gmake-mode/
snippets/makefile-mode/
snippets/malabar-mode/
snippets/markdown-mode/
snippets/ned-mode/
snippets/nesc-mode/
snippets/nix-mode/
snippets/nsis-mode/
snippets/nxml-mode/
snippets/octave-mode/
snippets/org-mode/
snippets/perl-mode/
snippets/php-mode/
snippets/powershell-mode/
snippets/prog-mode/
snippets/protobuf-mode/
snippets/python-mode/
snippets/rst-mode/
snippets/ruby-mode/
snippets/rust-mode/
snippets/scala-mode/
snippets/sh-mode/
snippets/snippet-mode/
snippets/sql-mode/
snippets/swift-mode/
snippets/terraform-mode/
snippets/text-mode/
snippets/tuareg-mode/
snippets/typerex-mode/
snippets/udev-mode/
snippets/web-mode/
snippets/yaml-mode/


.aider*

prompts/

# Test files
test-emacs-*.sh
test-emacs-*.el
